extends layout.pug

block content
  h1.mt-5= "Visit " + search.city
  h6.mt-5= "Visit '" + search.city + "', in  " + search.numDays + " days, seeing " + search.numPlaces + " places."
  p= "Here there will be a map"
  